Repository ladesa-ro/especificacao: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

docs(readme): use white as badges colors
  README.md
Due: none

docs(readme): ecosystem table: small source code badge
  README.md
Due: none

feat: smart-release that only releases if has code changes rather than new commits
  CODEOWNERS
  HACKING.md
  codegen/package.json
  codegen/scripts/smart-release.sh
  core/package.json
  integrations/dotnet/package.json
  integrations/dotnet/scripts/smart-release.sh
  integrations/npm/ladesa-especificacao/package.json
  integrations/npm/ladesa-especificacao/scripts/smart-release.sh
  package.json
  scripts/smart-release.sh
Due: pnpm run -w spec:compile && pnpm run -w spec:codegen;

chore: update package-lock
  package-lock.json
Due: none

fix(codegen/scripts/smart-release): call release-it intead of npm script (loop)
  codegen/scripts/smart-release.sh
Due: none

chore: delete npm lockfile and update pnpm lockfile
  package-lock.json
  pnpm-lock.yaml
Due: none

fix: scripts/smart-release: quote value of var `desired`
  codegen/scripts/smart-release.sh
  integrations/dotnet/scripts/smart-release.sh
  integrations/npm/ladesa-especificacao/scripts/smart-release.sh
  scripts/smart-release.sh
Due: none

docs(readme): platform badges
  README.md
Due: none

fix(core/usuario/list): view find one
  core/compiled/compiled.json
  core/src/autenticacao/usuario/usuario.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core/usuario/list): findallresult: targets to find one view
  core/compiled/compiled.json
  core/src/autenticacao/usuario/usuario.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core/vinculo/list): findallresult: targets to findone view
  core/compiled/compiled.json
  core/src/autenticacao/vinculo/vinculo.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core/GenericImage/BuildSetProfileImageOperation): accept image body
  core/compiled/compiled.json
  core/src/-shared/GenericImage.ts
  core/src/autenticacao/usuario/usuario.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat: include vinculosAtivos in whoami
  core/compiled/compiled.json
  core/src/autenticacao/auth/auth.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat: include intervaloDeTempo in reserva
  core/compiled/compiled.json
  core/src/ambientes/reserva/reserva.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat: include filters in reserva list
  core/compiled/compiled.json
  core/src/ambientes/reserva/reserva.unispec.ts
  core/src/horarios/disponibilidade-professor/disponibilidade-professor.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix: export all horario modules
  core/compiled/compiled.json
  core/src/-shared/index.ts
  core/src/ensino/disciplina/disciplina.unispec.ts
  core/src/horarios/diario-preferencia-agrupamento/diario-preferencia-agrupamento.unispec.ts
  core/src/horarios/disponibilidade-professor-dia/disponibilidade-professor-dia.unispec.ts
  core/src/horarios/disponibilidade-professor/disponibilidade-professor.unispec.ts
  core/src/horarios/horarios.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
  integrations/npm/ladesa-especificacao/src/index.ts
  pnpm-lock.yaml
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat: init typespec study
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  definitions/biome.json
  definitions/package.json
  definitions/src/.utils/common.tsp
  definitions/src/autenticacao/main.tsp
  definitions/src/base/main.tsp
  definitions/src/main.tsp
  definitions/tspconfig.jsonschema.yaml
  integrations/npm/especificacao/package.json
  integrations/npm/especificacao/src/schemas.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint -c eslint.config.mjs

feat(definitions): EntityToken
  definitions/package.json
  definitions/src/.utils/-index.tsp
  definitions/src/.utils/common.tsp
  definitions/src/.utils/entity-token.tsp
  definitions/src/autenticacao/-index.tsp
  definitions/src/autenticacao/usuario.tsp
  definitions/src/base/-index.tsp
  definitions/src/base/arquivo.tsp
  definitions/src/base/imagem-arquivo.tsp
  definitions/src/base/imagem.tsp
  definitions/src/main.tsp
  integrations/npm/especificacao/src/schemas.ts
Due: eslint -c eslint.config.mjs

feat(definitions/utils/extensions): @entity
  definitions/package.json
  definitions/src/.utils/-index.tsp
  definitions/src/.utils/extensions/entity.js
  definitions/src/.utils/extensions/entity.tsp
  definitions/src/autenticacao/usuario.tsp
  definitions/src/base/arquivo.tsp
  definitions/src/base/imagem-arquivo.tsp
  definitions/src/base/imagem.tsp
Due: none

feat(definitions/utils/extensions): @entityPartialOf
  definitions/src/.utils/-index.tsp
  definitions/src/.utils/extensions/-index.tsp
  definitions/src/.utils/extensions/decorators/-index.tsp
  definitions/src/.utils/extensions/decorators/entity.js
  definitions/src/.utils/extensions/decorators/entity.tsp
  definitions/src/.utils/extensions/decorators/entityPartialOf.js
  definitions/src/.utils/extensions/decorators/entityPartialOf.tsp
  definitions/src/.utils/extensions/entity.js
  definitions/src/.utils/extensions/entity.tsp
  definitions/src/.utils/extensions/tokens.js
  definitions/src/base/arquivo.tsp
Due: none

feat(definitions/utils/extensions/entity): disable additionalProperties
  definitions/src/.utils/extensions/decorators/entity.js
  integrations/npm/especificacao/src/schemas.ts
Due: eslint -c eslint.config.mjs

chore: use wireit in package scripts
  .gitignore
  definitions/package.json
  definitions/src/base/arquivo.tsp
  definitions/tspconfig.json-schema.yaml
  integrations/npm/especificacao/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(.github/dependabot): setup npm
  .archived/.github/dependabot.yml
  .github/dependabot.yml
Due: none

docs: init LICENSE and README
  LICENSE
  README.md
Due: none

chore: init v3 packages versioning
  definitions/package.json
  integrations/npm/especificacao/package.json
  package.json
Due: none

docs: improve license and readme
  LICENSE
  README.md
Due: none

docs: improve readme
  README.md
Due: none

fix(definitions/base/imagem-arquivo): formato as string
  definitions/src/base/imagem-arquivo.tsp
  integrations/npm/especificacao/src/schemas.ts
Due: eslint -c eslint.config.mjs

Update README.md
  README.md
Due: none

Path conditions:
  eslint -c eslint.config.mjs: any of: **/*.ts
  pnpm run -w spec:compile && pnpm run -w spec:codegen;: any of: core/**/*.{ts,json}
