Repository ladesa-ro/especificacao: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat(core): build generic image operations
  core/compiled/compiled.json
  core/src/-shared/GenericImage.ts
  core/src/-shared/common/CompileOperations.ts
  core/src/ambientes/ambiente/ambiente.unispec.ts
  core/src/ambientes/bloco/bloco.unispec.ts
  core/src/autenticacao/usuario/usuario.unispec.ts
  core/src/ensino/curso/curso.unispec.ts
  core/src/ensino/diario/diario.unispec.ts
  core/src/ensino/disciplina/disciplina.unispec.ts
  core/src/ensino/turma/turma.unispec.ts
  core/src/tokens.ts
  eslint.config.mjs
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/tokens.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

docs: add more badges to readme [skip ci]
  README.md
Due: none

docs(readme): badges: ci: follow style [skip ci]
  README.md
Due: none

docs(readme): integrations / nuget / badges / nightly version: prefix
  README.md
Due: none

docs(readme): add ; at end of git clone [skip ci]
  README.md
Due: none

chore(npm/especificacao): remove yup from optional deps
  integrations/npm/ladesa-especificacao/package.json
  pnpm-lock.yaml
Due: none

feat(ci): use ladesa bot
  .github/workflows/ci.yml
Due: none

feat: init codeowners
  CODEOWNERS
Due: none

feat(npm/especificacao): copy README and LICENSE from workspace on build
  integrations/npm/ladesa-especificacao/.gitignore
  integrations/npm/ladesa-especificacao/package.json
Due: none

chore(codeowners): add CODEOWNERS to CODEOWNERS
  CODEOWNERS
Due: none

feat(ci): update next when main is released
  .github/workflows/ci.yml
Due: none

fix(npm/especificacao/project): pnpm run "--filter" before command
  integrations/npm/ladesa-especificacao/project.json
Due: none

feat(ci): custom message on merge main into nex
  .github/workflows/ci.yml
Due: none

feat(npm/especificacao): copy static assets with unbuild
  integrations/npm/ladesa-especificacao/build.config.ts
  integrations/npm/ladesa-especificacao/package.json
  pnpm-lock.yaml
Due: eslint -c eslint.config.mjs

feat(release-it): enable github release
  .release-it.json
Due: none

chore: disable github release
  .release-it.json
Due: none

chore: delete package-lock.json [skip ci]
  package-lock.json
Due: none

docs(readme): install instructions
  README.md
Due: none

docs(readme): install instructions: more specific version heading
  README.md
Due: none

docs(readme): versions badge: include icon (nuget and npm)
  README.md
Due: none

chore: update unispec to 0.26.1-next.41
  codegen/package.json
  core/package.json
  integrations/npm/ladesa-especificacao/package.json
  pnpm-lock.yaml
Due: pnpm run -w spec:compile && pnpm run -w spec:codegen;

chore: update unispec to 0.26.1-next.42
  codegen/package.json
  core/package.json
  integrations/npm/ladesa-especificacao/package.json
  pnpm-lock.yaml
Due: pnpm run -w spec:compile && pnpm run -w spec:codegen;

chore: update unispec to 0.26.1-next.43
  codegen/package.json
  core/package.json
  integrations/npm/ladesa-especificacao/package.json
  pnpm-lock.yaml
Due: pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(tokens): Cidade: operations: cidade prefix
  core/src/tokens.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core): list result of campus, usuario and vinculo
  core/compiled/compiled.json
  core/src/ambientes/campus/campus.unispec.ts
  core/src/autenticacao/usuario/usuario.unispec.ts
  core/src/autenticacao/vinculo/vinculo.unispec.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(usuario): add UsuarioFindAllResultView to UsuarioProvider
  core/compiled/compiled.json
  core/src/autenticacao/usuario/usuario.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/tokens.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(reserva): deleteById: right operation token
  core/compiled/compiled.json
  core/src/ambientes/reserva/reserva.unispec.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat(vinculo): list: include filters
  core/src/autenticacao/vinculo/vinculo.unispec.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(curso): cover image
  core/compiled/compiled.json
  core/src/ensino/curso/curso.unispec.ts
  core/src/tokens.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/tokens.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(vinculo): UpdateInput token
  core/compiled/compiled.json
  core/src/autenticacao/vinculo/vinculo.unispec.ts
  core/src/tokens.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/tokens.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(turma): tokens of cover image
  core/compiled/compiled.json
  core/src/ensino/turma/turma.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(auth/refresh operation): input body view token
  core/compiled/compiled.json
  core/src/autenticacao/auth/auth.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core/diario/input/create): require situacao, ano and etapa
  core/src/ensino/diario/diario.unispec.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core): typo `description` (was `default`)
  core/compiled/compiled.json
  core/src/calendario/aula/aula.unispec.ts
  core/src/ensino/curso/curso.unispec.ts
  core/src/ensino/diario-professor/diario-professor.unispec.ts
  core/src/ensino/disciplina/disciplina.unispec.ts
  core/src/ensino/modalidade/modalidade.unispec.ts
  core/src/ensino/turma/turma.unispec.ts
  core/src/horarios/turma-disponibilidade-dia/turma-disponibilidade-dia.unispec.ts
  core/src/horarios/turma-disponibilidade/turma-disponibilidade.unispec.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

change(diario): `ativo` and `calendarioLetivo` instead of `situacao`, `ano` and `etapa`
  core/compiled/compiled.json
  core/src/calendario/calendario.unispec.ts
  core/src/calendario/diario-professor/diario-professor.unispec.ts
  core/src/calendario/diario-professor/index.ts
  core/src/calendario/diario/diario.unispec.ts
  core/src/calendario/diario/index.ts
  core/src/ensino/ensino.unispec.ts
  core/src/ensino/index.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core/diario): `ativo` instead of `situacao`
  core/compiled/compiled.json
  core/src/calendario/diario/diario.unispec.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat(core/ambiente): make `descricao` optional
  .lintstagedrc
  core/compiled/compiled.json
  core/src/ambientes/ambiente/ambiente.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

feat(core/usuario): remove `vinculosAtivos`
  .lintstagedrc
  core/compiled/compiled.json
  core/src/autenticacao/usuario/usuario.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
  package.json
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

fix(core/-shared/GenericImage/BuildSetCoverImageOperation): include file in input body
  codegen/package.json
  core/compiled/compiled.json
  core/package.json
  core/src/-shared/GenericImage.ts
  core/src/ensino/turma/turma.unispec.ts
  integrations/dotnet/Ladesa.Dtos/Ladesa.Dtos.cs
  integrations/npm/ladesa-especificacao/package.json
  integrations/npm/ladesa-especificacao/src/generated/nodes.ts
  integrations/npm/ladesa-especificacao/src/generated/types.ts
  pnpm-lock.yaml
Due: eslint -c eslint.config.mjs, pnpm run -w spec:compile && pnpm run -w spec:codegen;

Path conditions:
  eslint -c eslint.config.mjs: any of: **/*.ts
  pnpm run -w spec:compile && pnpm run -w spec:codegen;: any of: core/**/*.{ts,json}
